.topnav {
    background-color: #257c82;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.36vw 1.46vw;
    text-decoration: none;
    font-size: 1.6vw;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #505551;
    color: white;
}

.topnav .icon {
    display: none;
}

.b {
    position: relative;
    top: -4px;
}
.napis{
    position: relative;
    left: 3px;
}
section {
    position: relative;
    top: 43px;

}
h1 {
    position: relative;
    top: 11px;
    left: -54px;
    font-size: 52px;
}
a.przycisk {
    position: relative;
    top: -43px;    float: right;
    cursor: pointer;
    width: 190px;
    height: 64px;
    padding: 20px 25px;
    background-color: #a5d5ee;
    color: #14658f;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #2f7ea7;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
    0 -1px 0 rgba(64, 38, 5, 0.9);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    -webkit-transition: background 0.2s ease-out;
}

a.przycisk2 {
    position: relative;
    top: -43px;    float: right;
    cursor: pointer;
    width: 190px;
    height: 64px;
    padding: 20px 25px;
    background-color: #a5d5ee;
    color: #14658f;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #2f7ea7;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
    0 -1px 0 rgba(64, 38, 5, 0.9);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;

    -webkit-transition: background 0.2s ease-out;
}

a.przycisk:active {
    background: rgb(97, 206, 212);
    position: relative;
    top: 5px;
    border: 1px solid rgb(97, 206, 212);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;
}

a.przycisk2:active {
    background: rgb(97, 206, 212);
    position: relative;
    top: 5px;
    border: 1px solid rgb(97, 206, 212);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;
}



.table-striped {
    background-color: rgb(209, 236, 240);
}